[%- # Provide a title -%]
[% META title = 'Projects' -%]

[% # Some basic HTML with a loop to display Projects -%]
<table>
<tr><th>ID</th><th>Name</th></tr>
[% # Display each book in a table row %]
[% FOREACH project IN projects -%]
  <tr>
    <td>[% project.id %]</td>
    <td>[% project.name %]</td>
  </tr>
[% END -%]
</table>

<hr />
<script>
  var app = new Vue({
    el: "projects-vue",
    data: {
      projects: [
[% FOREACH project IN projects -%]
{ name: '[% project.name %]'},
[% END -%]
      ]
    }
  })
</script>
<p>vue.js list</p>
<ol id="projects-vue">
    <li v-for="project in projects">{{ project.name }}</li>
</ol>