[%- # Provide a title -%]
[% META title = 'Scapi Projects' -%]

[% # Some basic HTML with a loop to display Projects -%]
<table>
<tr><th>ID</th><th>Name</th></tr>
[% # Display each book in a table row %]
[% FOREACH project IN projects -%]
  <tr>
    <td>[% project.id %]</td>
    <td>[% project.name %]</td>
  </tr>
[% END -%]
</table>

<hr />
<p>vue.js list</p>
<div id="projects-1">
<ol>
    <li v-for="project in projects">{{ project.name }}</li>
</ol>
</div>
<script>
  var app = new Vue({
    el: "#projects-1",
    data: {
      projects: [
[% FOREACH project IN projects -%]
{ name: '[% project.name %]'},
[% END -%]
      ]
    }
  })
</script>
<hr />
<form method="post" action="[% c.uri_for('add_project') %]">
    <table>
        <tr><td>Project Name:</td><td><input type="text" name="project_name"></td></tr>
    </table>
    <input type="submit" name="Submit" value="Add Project">
</form>

